:root {
    --bg-main: rgb(255, 255, 255);
    --bg-accent: rgba(0, 0, 0, 0.801);

    --border-main: rgba(255, 255, 255, 0.808);

    --text-main: rgb(192, 0, 0);
}

@font-face {
    font-family: 'Assistant';
    src: url('./Assistant/Assistant-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Assistant';
    margin: 0;
}

#content {
    min-height: 100vh;
    background-color: var(--bg-main);
}

header {
    height: 70vh;
    display: flex;
    flex-direction: column;
    background: no-repeat center/cover url('./ratatouille.jpg');
}

h1 {
    align-self: flex-end;
    margin: 0 0.2em 0 0;
    font-size: 3rem;
    color: var(--text-main);
}

h1 span {
    font-size: 2rem;
}

.icon {
    align-self: flex-end;
    width: 150px;
    margin-right: 1em;
}

nav {
    width: 100%;
    padding: 0.75em;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--bg-accent);
}

.tiles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    width: 100%;
    padding: 10px 30px;
}

.tile * {
    margin: 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 700px) {
    h1 {
        margin-right: 1em;
        font-size: 4rem;
    }

    h1 span {
        font-size: 3rem;
    }

    .icon {
        width: 200px;
        margin-right: 5em;
    }

    .tile {
        width: min(45%, 600px);
    }
}
